.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
html {
    font-family: 'Alegreya Sans SC', sans-serif;
    background: url("../images/slaughter.png") no-repeat 100% -30px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


.no-margin-t {
    margin-top: 0;
}
.margin-left {
    margin-left: 20px;
}
.c-container {
    padding: 20px;
    background: #eee;
}
.left {
    float: left;
}

.block { display: block; }
form label {
    display: block;
    width: 125px;
    float: left;
}

input {
    border: 1px solid #fff;
    padding: 3px;
}
input.good {
    border-bottom-color: #99DDA5;
}
input.changed {
    border-bottom-color: #FFD600;;
}

.tests {
    margin-top: 30px;
    clear: both;    
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.tests .content {
    padding: 20px;
    background: #fff;
    font-family: arial;
    overflow-y: scroll;
}

textarea.prettyprint {
    border: none !important;
    background: #eee;
    padding-bottom: 20px !important;
    width: 100%;
    min-height: 400px;
}
.hidden {
    display: none;
}